.git
.gitignore
.env
.env.*
**/.env
**/.env.*
**/node_modules
**/.next
**/out
**/build
**/.gradle
.idea
*.log
uploads
backup-*.sql
backup-*.zip
backup-*.tar.gz
*.dump
*.backup
Dockerfile
docker-compose.yml
docker-compose.*.yml
