# IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/

# OS
.DS_Store
Thumbs.db



# uploads locais
uploads/

# next build
frontend/rockepilates-web/.next/

# node
frontend/rockepilates-web/node_modules/

# logs
*.log

# Environment
.env